<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat!</title>
    </head>

    <body>
        <div>
            <p>
                {{users|safe}}
            </p>
            <p>
                <h5> {{text|safe}} </h5>
            </p>
        </div>

        <form method="GET" action="/chat">
            name:<input type="text" name="name_text">
            
            <input type="text" name="input_text">
            <button type="submit" >입력</button>
        </form>
        </body>
  
</html>